<!DOCTYPE html>
<html lang="en-US">

<head>
  <meta charset="utf-8">
  {% include 'dependencies.html' %}
  <link href='https://fonts.googleapis.com/css?family=Arvo:700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Raleway:300,100' rel='stylesheet' type='text/css'>
  <title>Fully Stacked Analysis</title>
</head>

<body background="../static/images/empty-fridge-dark.jpg">
  {% include 'nav.html' %}
    <div class="container">
      <h1>Environmental Food Atlas Analysis</h1>
    </div>
</body>
{% include 'foot.html' %}

</html>