<!DOCTYPE html>
<html lang="en-US">

<head>
  <meta charset="utf-8">
  {% include 'dependencies.html' %}

  <title>Fully Stacked Analysis</title>
</head>

<body>
  {% include 'nav.html' %}
  <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vS4wfhIE9VS8aE74TQ4DBFWN_5UxcS1vJ_UeL_0IiwDPpwEhXedSIgNkfH2kRVE4kJxcyS3PDOvzkMD/embed?start=false&loop=false&delayms=60000" frameborder="0" width="1440" height="839" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe></body>
{% include 'foot.html' %}

</html>