.body {

}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    padding:5px;
    width: 100%;
    /* border-top-style: solid; */
    background-color:transparent;
    color: white;
    text-align: center;
}
.footer a {
    text-decoration: none;
    color: white;
    font-size:10px;
}

.nav {
}

#subnav {
  display:none; 
 }

 .header {
  padding: 60px;
  text-align: center;
  background:transparent;
  color: white;
  font-size: 30px;
}

