/*CSS FOR MAP TO SHOW */
body {
  padding: 0;
  margin: 0;
}

#map, body, html {
  height: 100vh;
}

/*END OF CSS FOR MAP TO SHOW ^*/
/*CSS FOR GOOGLE SLIDES IFRAME*/
iframe {
  position: fixed;
  top: 0px;
  bottom: 0px;
  right: 0px;
  width: 100%;
  border: none;
  margin: 0;
  padding: 0;
  z-index: 1;
  overflow: hidden;
  height: 100%;
}
/*END CSS FOR GOOGLE SLIDES IFRAME*/

/* NAVBAR STYLE */
body .navbar-light .navbar-nav .nav-link {
  color:#353535;
  font-size: 18px;

}
body .navbar {
  z-index: 9999999;
  background: white;
  opacity:.3;
}

body .navbar-light .navbar-nav .nav-link:hover {
  color: #ffa600;
  font-size: 18px;
}

/* .container { */
  /* text-align:center; */
  /* color: white; */
}

/* END NAVBAR STYLE */
/*FOOTER STYLE*/
footer {
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  padding:5px;
  width: 100%;
  background-color:white;
  opacity:.3;
  text-align: center;
  z-index: 9999999;
  color:#353535;
  font-size:14px;
}

.container h1 {
text-align:center;
color: rgb(255, 199, 46);
font-size: 46px;
margin-top: 10px;
margin-bottom: 10px;
padding:25px;
z-index: 999999;
}

body #bg-chart {
  background-image: linear-gradient(to bottom right, white, black);

}
/* * D3 Visualization */
.text {
  font: 30px verdana;
  font-weight: bold;
  fill: rgb(94, 73, 73);
  text-anchor: left;

}
.chart::before {
  position: absolute;
  font-family: 10px verdana;
  top: 50px;
  left: 300px;
  z-index: -1;
  display: block;
  width: 400px;
  height: 300px;
  content: " ";
  background-attachment: 'oregon.png';
  background-repeat: no-repeat;
  background-position: 100% 0;
  background-size: cover;
  opacity: 0.3;
}

.tooltip {
  position: absolute;
  width: 80px;
  padding: 5px;
  padding-top: 5px;
  font: 10px verdana;
  font-weight: lighter;
  color: white;
  text-align: center;
  background:rgb(49, 43, 43);
  border: 0;
  border-radius: 5px;
}


text.axis-text{
  font: 20px verdana;
  font-weight: bold;
  fill: rgb(94, 73, 73);
  text-anchor: middle;
}

text.active
{
  font: 20px verdana;
  font-weight: bold;
  fill: rgb(59, 56, 56);
  text-anchor: middle;
}
.graph-svg-component {
  outline: tick;
}
text.inactive
{
  font: 20px verdana;
  fill: rgb(138, 128, 128);
  text-anchor: middle;
}
.title-text {
  font: 20px verdana;
  fill: rgb(94, 73, 73);
  font-weight: bold
}

.axis-text {
  font: 20px verdana;
  font-weight: bold;
  fill: rgb(59, 56, 56);
  text-anchor: middle;
}

.active {
  font-weight: bold;
  font: 20px verdana;
  fill: #000;
  fill: rgb(17, 17, 82);
  transition: fill 0.3s ease-out;
  text-anchor: middle;
}

.inactive {
  font-weight: lighter;
  font: 10px verdana;
  fill: gray;
  transition: fill 0.3s ease-out;
  text-anchor: middle;
}

.inactive:hover {
  fill: #4e1224;
  cursor: pointer;
} 
