
/*CSS FOR MAP TO SHOW */

body {
  padding: 0;
  margin: 0;
  color:white;
  /* font-family: Courier, Arial, Helvetica, sans-serif; */

}

#map {
  height: 100vh;
  z-index: 1;
}

/*END OF CSS FOR MAP TO SHOW ^*/


/*CSS FOR GOOGLE SLIDES IFRAME*/
iframe {
  position: fixed;
  top: 0px;
  bottom: 0px;
  right: 0px;
  width: 100%;
  border: none;
  margin: 0;
  padding: 0;
  z-index: 1;
  overflow: hidden;
  height: 100%;
}
/*END CSS FOR GOOGLE SLIDES IFRAME*/

.navbar {
  z-index: 9999999;
  background: rgb(107, 107, 107);
  color: white;
  opacity:.3;
}

.navbar-nav .collapse .nav-link{
  color: white;
  
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    padding:5px;
    width: 100%;
    border-top-style: solid;
    border-color:white;
    color: white;
    background-color:transparent;
    text-align: center;
    z-index: 9999999;
}

.footer a {
  color: white;
}


.container {
  text-align:center;
  color: white;
}

.ml1 {
  font-weight: 900;
  font-size: 24;
  text-align:center;
}

.ml1 .letters {
  display: inline-block;
  color: white;
}



