<!DOCTYPE html>
<html lang="en-US">

<head>
  <meta charset="utf-8">

  {% include 'dependencies.html' %}

  <title>Fully Stacked Analysis</title>
</head>

<body background="/static/images/empty-fridge-dark.jpg" )>
  {% include 'nav.html' %}


  <div class="container">
    <h1 class="ml1">
      <span class="text-wrapper">
        <span class="line line1"></span>
        <span class="letters">Environmental Food Atlas Analysis</span>
        <span class="line line2"></span>
      </span>
    </h1>
  </div>
</body>
{% include 'foot.html' %}

</html>